<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Planets App</title>
  </head>
  <body>
    <h1>Welcome to <%= planet.name %>'s page!</h1>

    <%- include('../partials/nav') %> 

    <h2><%= planet.name %></h2>
    <ul>
        <li>Type: <%= planet.planetType %></li>
        <li>Size: <%= planet.size %> miles %></li>
        <li>Habitable: <%= planet.planetIsHabitable === true ? "We can live there" : "We cannot live there" %></li>
    </ul>

    <form>
        <button type="button" id="edit"><a href="../planets/<%= planet._id %>/edit">Edit</a></button>
    </form>
    <form action="/planets/<%= planet._id %>?_method=DELETE" method="post">
        <button type="submit" id="delete">Delete</button>
    </form>

    <%- include('../partials/footer') %>
  </body>
</html>
